.btn-red {
    color: #fff;
    background-color: #f96e65;
    background-image: linear-gradient(#e94c4c, #e94c4c);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 25%), 0 4px 10px rgba(0, 0, 0, 12%);
}

.btn-red:hover, .btn-red.zeroclipboard-is-hover {
    color: #fff;
    background-color: #e94c4c;
    background-image: linear-gradient(#12be8b, #dd2e2e);
}
